<div class="contact-container" style="margin-top: 3rem; text-align: center; padding: 2rem; color: #fff; border-radius: 8px;">
  <!-- Icone Circular -->
  <div class="contact-icon" style="width: 80px; height: 80px; margin: 0 auto; background-color: #FF8243; color: #fff; border-radius: 50%; display: flex; align-items: center; justify-content: center; font-size: 24px; font-weight: bold;">
    G
  </div>

  <!-- Título e Descrição -->
  <h5 style="margin: 1.5rem 0;">Minhas redes</h5>

  <!-- Ícones de Redes Sociais -->
  <div class="social-icons" style="display: flex; justify-content: center; gap: 1rem; margin-bottom: 2rem;">
    <a href="https://linkedin.com/in/gabrielhsimoes" style="text-decoration: none; color: #fff;" target="_blank">
      <img src="linkedin-circle.png" alt="Linkedin">
    </a>
    <a href="https://github.com/gabrielhsimoes" style="text-decoration: none; color: #fff;" target="_blank">
      <img src="github-circle.png" alt="GitHub">
    </a>

  </div>

</div>
<!-- Rodapé -->
<div class="" style="color: #bbb; font-size: 14px;margin: 0px; padding: 1em; text-align: center;">
  Created by <strong>Gabriel</strong> | All Reserved!
</div>
