<div class="habilidades-container" style="margin-top: 2rem; text-align: center;">
  <h5 style="margin-bottom: 1.5rem;">Habilidades</h5>
  <div class="habilidades-grid" style="display: flex; justify-content: center; flex-wrap: wrap; gap: 1.5rem;">
    <!-- Ícones ou links das habilidades -->
    <a target="_blank" style="text-decoration: none;">
      <img src="joomla.png" alt="Joomla" width="50px">
    </a>
    <a target="_blank" style="text-decoration: none;">
      <img src="docker.png" alt="Docker" width="50px">
    </a>
    <a target="_blank" style="text-decoration: none;">
      <img src="typescript.png" alt="TypeScript" width="50px">
    </a>
    <a target="_blank" style="text-decoration: none;">
      <img src="nestjs.png" alt="Nestjs" width="50px">
    </a>
    <a target="_blank" style="text-decoration: none;">
      <img src="angular.png" alt="Angular" width="50px">
    </a>

  </div>
</div>
